<div>
    <div class="col-12 categories d-flex gap-2 justify-content-center">
        <div class="col-lg-1 col-md-1" *ngFor="let category of categories">
            <p-card>
                <div *ngIf="category.items" (mouseenter)="menu.toggle($event)" (mouseleave)="menu.toggle($event)">
                    <img class="img-fluid mb-1" alt="Card" src={{category.img}} />
                    <p class="m-0 fs-6">{{category.name}} <i class="pi 
                        pi-angle-down"></i></p>
                    <p-tieredMenu #menu [model]="category.items" [popup]="true"></p-tieredMenu>
                </div>
                <div *ngIf="!category.items">
                    <img class="img-fluid mb-1" alt="Card" src={{category.img}} />
                    <p class="m-0 fs-6">{{category.name}}</p>
                </div>
            </p-card>
        </div>
    </div>
</div>
<!-- <div class="container d-flex categories">
    <div *ngFor="let category of categories">
        <p-card>
            <div *ngIf="category.items" (mouseenter)="menu.toggle($event)" (mouseleave)="menu.toggle($event)">
                <img class="img-fluid" alt="Card" src={{category.img}} />
                <p class="m-0 fs-6">{{category.name}}</p>
                <p-tieredMenu #menu [model]="category.items" [popup]="true"></p-tieredMenu>
            </div>
            <div *ngIf="!category.items">
                <img class="img-fluid" alt="Card" src={{category.img}} />
                <p class="m-0 fs-6">{{category.name}}</p>
            </div>
        </p-card>
    </div>
</div>   -->