<div class="card col-12 d-flex flex-row gap-2 align-items-center justify-content-center bg-primary">
    <p-menubar [model]="items">
        <ng-template pTemplate="start" class="col-12">
            <img class="col-1" routerLink="/home" src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" style="height: 2rem;" class="mr-2" />
            <span class="p-input-icon-right search">
                <input class="col-12" type="text" pInputText placeholder="Search for products, brands and more"/>
                <i class="pi pi-search"></i>
            </span>
            <p-button class="me-3" label="Login" styleClass="p-button-raised p-button-text"></p-button>
        </ng-template>
    </p-menubar>
</div>

<!-- <div class="container-fluid" style="background-color: white;">
    <div class="container-xxl p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div class="logo me-5">
                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/flipkart-095e08.svg">
                    <div class="d-flex align-items-center justify-content-end" style="font-size: 12px; letter-spacing: 1px;">
                        <div class="me-1 fst-italic fw-bold text-secondary">Explore</div>
                        <div class="fst-italic fw-bold">Plus</div>
                        <div><img class="ms-2" src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/plus-brand-bc165b.svg"></div>
                    </div>
                </div>
                <div class="me-5">
                    <span class="p-input-icon-left">
                        <input type="text" pInputText placeholder="Search for products, brands and more"/>
                        <i class="pi pi-search"></i>
                    </span>
                </div>
            </div>
            <div class="d-flex gap-5 align-items-center nav-bar-right">
                <div class="d-flex align-items-center">
                    <div class="icon me-2">
                        <i class="pi pi-briefcase"></i>
                    </div>
                    <div class="label">Become a Seller</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="icon me-2">
                        <i class="pi pi-user"></i>
                    </div>
                    <div class="label">Sign in</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="icon me-2">
                        <i class="pi pi-shopping-cart"></i>
                    </div>
                    <div class="label">Cart</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="icon me-2">
                        <i class="pi pi-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->